/*.app select {
	background-color: #edeff2;
	cursor: pointer;
}

.app select:hover {
	background-color: #E3E6EC;
}

.app input,
.app select {
	width: 100%;
	padding: 6px 5px;
	outline-width: 0;
	border: 1.5px solid #DADADA;
	border-radius: 3px;
}

.app input:focus,
.app select:focus {
	border: 1.5px solid #CB8031;	
	box-shadow: 0 0 2px #E77600;
}

.app label {
	margin: 10px 0 3px 0;
}

.app button {
	background-image: linear-gradient(#F2D481, #F2C85E);
	border: none;
	border-color: #a88734 #9c7e31 #846a29;
	padding: 8px 15px;
	border-radius: 3px;
	width: fit-content;
	cursor: pointer;
}

.app button:hover {
	background-image: linear-gradient(#F3CD70, #EEBB3A);
}*/